{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/@antv/g2@4.1.10/dist/g2.min.js"></script>


</head>


<body> 
    <header>
        <a href="#" class="logo"><i class="fas-fa-untensiles"></i>深度学习模型安全评估平台</a>
        
        <nav class="navbar">
                <a href="/index">首页</a></li>
                <a href="/cv" class="active">图像模型</a></li>
                <a href="#nlp">语言模型</a></li>
                <a href="#audio">语音模型</a></li>
                <a href="#contact">联系我们</a></li>
                <a href="https://github.com/faiimea/DLSec">项目地址</a></li>
        </nav>

    </header>
    <script>
       
    </script>
    <aside class="sidebar">
        <h3>首页</h3>
        <ul>
            <li><a href="#introduction"  class="active">使用说明</a></li>
            <li><a href="#adversarial" >对抗样本</a></li>
            <li><a href="#backdoor" > 后门攻防</a></li>
            <li><a href="#poison" >数据投毒</a></li>
            <li><a href="#setting" >参数设定</a></li>
            <li><a href="#test" >综合测评</a></li>
            <li><a href="#report" >生成报告</a></li>

        </ul>
    </aside>
    <!-- introduction section starts -->
    <section class="introduction" id="introduction">
        <h1 class="section-title">使用说明</h1>
        <div class="introduction-container">
            <div class="markdown-content" id="markdown-content">
            </div>
        </div>
    </section>

    <section class="adversarial" id="adversarial">
        <h1 class="section-title">对抗样本</h1>

        
    </section>
    <section class="backdoor" id="backdoor">
        <h1 class="section-title">后门攻防</h1>
    
        <select name="后门防御方法">
            <option value="NeuralCleanse">Neural Cleanse</option>
            <option value="DeepInspect">DeepInspect</option>
            <option value="Tabor">Tabor</option>
        </select>

    </section>
    <section class="poison" id="poison">
        <h1 class="section-title">数据投毒</h1>
    
        <select name="数据投毒方法">
            <option value="DataPoisoning">Data Poisoning</option>
            <option value="DataHiding">Data Hiding</option>
            <option value="DataInjection">Data Injection</option>
        </select>

    </section>
    <section class="setting" id="setting">
        <h1 class="section-title">上传模型</h1>
        <div class="setting-container">
            <div class="upload-box">
                <form action="/upload/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="model" id="model" accept=".h5,.hdf5,.hdf">
                    <button type="submit">上传</button>
                </form>
            </div>
        </div>

        <h1 class="section-title">设置参数</h1>
        <div class="setting-container">
            <form action="/setting/" method="post">
                {% csrf_token %}
               
                    <div class="setting-box ">
                        <ul>
                            
                            <li>
                                <label for="dataset">数据集选择</label>
                                <select id="dataset" name="dataset">
                                    <option value="MNIST">MNIST</option>
                                    <option value="CIFAR10">CIFAR10</option>
                                    <option value="ImageNet">GTRSB</option>
                                </select>
                            </li>
                            <li>
                                <label for="model">模型结构</label> 
                                <select id="model" name="model">
                                    <option value="Resnet20">Resnet20</option>
                                    <option value="Resnet50">Resnet50</option>
                                    <option value="Resnet56">Resnet56</option>
                                    <option value="VGG16_bn">VGG16_bn</option>
                                    <option value="shufflenetv2_x0_5">shufflenetv2_x0_5</option>
                                </select>
                            <li>
                                <label for="adver">对抗样本鲁棒性测试方法</label> 
                                <select id="adver" name="adver">
                                    <option value="DataPoisoning">Data Poisoning</option>
                                    <option value="DataHiding">Data Hiding</option>
                                    <option value="DataInjection">Data Injection</option>
                                </select>
                            </li>
                            <li>
                                <label for="back">后门攻防鲁棒性测试方法</label> 
                                <select id="back" name="back">
                                    <option value="Badnets">Badnets</option>
                                    <option value="Blend">Blend</option>
                                    <option value="Wanet">Wanet</option>
                                </select>
                            </li>
                            <li>
                                <label for="datapoison">数据投毒鲁棒性测试方法</label> 
                                <select id="datapoison" name="poison">
                                    <option value="Badnets">Badnets</option>
                                    <option value="Blend">Blend</option>
                                    <option value="Wanet">Wanet</option>
                                </select>
                            </li>
                            <li>
                                <button type="button" id="setting-button">高级设置</button>
                                <button type="submit">确认参数</button>
                            </li>
                        </ul>
                    
                    </div>
              
            
                    <div class="setting-box-2 hidden">
                    <ul>
                     
                            <p>evaluation_params</p>
                            <li>
                                <label>backdoor_method</label><input type="text" name="backdoor_method" value="DeepInspect">
                            </li>
                            <li>
                                <label>allow_backdoor_defense</label><input type="text" name="allow_backdoor_defense" value="True">
                            </li>
                            <li>
                                <label>Datapoisoning_method</label><input type="text" name="Datapoisoning_method" value="gradient_mathing">
                            </li>
                            <li>
                                <label>datapoisoning_reiforce_method</label><input type="text" name="datapoisoning_reiforce_method" value="FriendlyNoise">
                            </li>
                            <li>
                                <label>run_datapoison_reinforcement</label><input type="text" name="run_datapoison_reinforcement" value="True">                                
                            </li>
                            <li>
                                <label>batch_size</label><input type="text" name="batch_size" value="64"></input>
                            </li>
                            <li>
                                <label>device</label><input type="text" name="device" value="cuda"></input>
                            </li>
                            

                    </ul>
                </div>
                <div class="setting-box-2 hidden">
                    <ul>
                        <p>FriendlyNoise_config</p>
                            <li>
                                <label>friendly_epochs</label><input type="text" name="friendly_epochs" value="30"></input>
                            </li>
                            <li>
                                <label>mu</label><input type="text" name="mu" value="0.1"></input>
                            </li>
                            <li>
                                <label>friendly_lr</label><input type="text" name="friendly_lr" value="0.1"></input>
                            </li>
                            <li>
                                <label>friendly_momentum</label><input type="text" name="friendly_momentum" value="0.9"></input>
                            </li>
                            <li>
                                <label>clamp_min</label><input type="text" name="clamp_min" value="-32/255"></input>
                            </li>
                            <li>
                                <label>clamp_max</label><input type="text" name="clamp_max" value="32/255"></input>
                            </li>
                            <li>
                                <label>train</label><input type="text" name="friendly_noise" value="True"></input>
                            </li>
                    </ul>
                </div>
            </form>  
        </div>
        
    </section>


    <section class="test" id="test">
        <h1 class="section-title">综合测评</h1>
        <p> 当前状态：{{state|default:"未开始运行"}}</p>
        <textarea id="log" rows="30" cols="200">
        </textarea>
    </section>

    <section class="report" id="report">
        <h1 class="section-title">结果总览</h1>
        <div id="statistic"></div>
        <script>
            // 初始化图表
            const chart = new G2.Chart({
                container: 'statistic', // 指定图表容器 ID
                width: 800, // 指定图表宽度
                height: 600, // 指定图表高度
            });
            
            // 加载数据
            const data = [
                { genre: 'Sports', sold: 275 },
                { genre: 'Strategy', sold: 115 },
                { genre: 'Action', sold: 120 },
                { genre: 'Shooter', sold: 350 },
                { genre: 'Other', sold: 150 },
            ];
            
            // 将数据加载到图表中
            chart.data(data);
            
            // 配置坐标轴
            chart.interval().position('genre*sold');
            
            // 渲染图表
            chart.render();
        </script>
    </section>
    <script>
            // 首先，获取你想要添加点击事件的按钮
    var button = document.querySelector('button[id="setting-button"]');

    // 然后，获取你想要切换隐藏和显示的元素
    var settingBox2 = document.querySelectorAll('.setting-box-2');

    // 添加点击事件监听器
    button.addEventListener('click', function() {
        // 遍历所有的.setting-box-2元素
        settingBox2.forEach(function(box) {
            // 切换隐藏和显示
            box.classList.toggle('hidden');
        });
    });
    </script>
    <script>
        // 获取所有的section元素和侧边栏的链接元素
        const sections = document.querySelectorAll('section');
        const navLinks = document.querySelectorAll('.sidebar a');

        // 创建一个Intersection Observer
        const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
            // 当section元素进入视口时，找到对应的侧边栏链接
            const id = entry.target.getAttribute('id');
            const navLink = document.querySelector(`.sidebar a[href="#${id}"]`);
            // 添加一个类来改变侧边栏链接的显示
            navLink.classList.add('active');
            // 移除其他链接的active类
            navLinks.forEach((link) => {
                if (link !== navLink) {
                link.classList.remove('active');
                }
            });
            }
        });
        }, { threshold: 0.1 });  // 当section元素的10%进入视口时，触发回调函数

        // 使用Intersection Observer来观察所有的section元素
        sections.forEach((section) => {
        observer.observe(section);
        });
    </script>
    <!-- <footer>
        <p>&copy; 2020 All rights reserved</p>
    </footer> -->

</html>